.Card {
  display: flex;
  flex-direction: column;
  
  width: 28vw;
  height: 78vh;

  align-items: center;

  border-radius: 2%;

  background-color: #121212;
  color: #fff;
}

.HeaderCard {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 10%;

  border-radius: 0 2% 0 2%;
  justify-content: center;

  background-color: #00000025;
  color: #fff;
}

.HeaderCard h3 {
  transform: translateX(5%);
}