.Card {
  display: flex;
  flex-direction: column;
  
  width: 28vw;
  height: 78vh;
  margin-bottom: 5vh !important;

  align-items: center;

  border-radius: 2%;
  box-shadow: 0 0 4px 0 #00000025;

  background-color: #121212;
  color: #fff;
}

.HeaderCard {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 10%;

  border-radius: 1vh 1vh 0 0;
  justify-content: center;

  background-color: #00000025;
  color: #fff;
}

.HeaderCard h3 {
  transform: translateX(5%);
}

/* Mobile */
@media (max-width: 992px) { 
  .Card {
    width: 90vw !important;
    height: 70vh;
  }
}