@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 90px;
}
::-webkit-scrollbar-track {
  background: #1A1A1A;
}

::selection {
  background-color: #2e273a;
  color: #FF002E;
}