.skillCard {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 30%;

  border-radius: 2%;

  background-color: #00000025;

  margin-top: 5%;
  margin-bottom: 5%;
}
.progressBar {
  width: 100%;
  height: 5%;

  background-color: #1A1A1A;
}
#percentageProgress {
  width: 25%;
  height: 100%;

  background-color: #fff;
  border-radius: 10%;
}

.infoSkill {
  display: flex;
  flex-direction: row;
}